dask_worker_space/
*.nc
*.mwx
*.pdf
.ipynb_checkpoints/
**.log
**/log
**/dask_worker_space/**
*.pyc
*.dirlock
*.lock
**/PDFs
**/plots
**/gems
*.csv
*.png
*core*
*.npy
**/03_Test_directory
**/10_xyz_Derivative_test
**/trivia
**/old
